
*{
    padding: 0;
    margin: 0;
}


main{
    height: 100vh;
    display: flex;
    align-items: center;
}




.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(165, 159, 42);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.667);
    animation-name: fireball;
    position: absolute;
    animation-delay: 2s;
    animation: fireball 10s infinite;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.container:hover{
    background-color: rgb(221, 201, 255);
    border-radius: 0%;
    cursor: pointer;
    font-size: 40px;
    width: 15%;
    height: 35%;
}


@keyframes fireball{
    0%{
        left: 0%;
    }
    50%{
        left: 100%;
        transform: translate(-100%);
    }
    100%{
        left: 0%;
    }
}

